<ion-view view-title="{{navTitle}}" hide-back-button="false" cache-view="false">
	
	 <ion-nav-buttons side="left" >
        <a class="item-icon-right" href="#" style="text-decoration:none; width:150px; margin:0px; margin-top:3px; padding:0px; " ui-sref="app.basket()">
        	<img src="img/basketIcon.png" style="width:30px; float:left" />
        	<span class="" style="z-index:100; position:relative; top:5px; left:5px; color:#004d6e; font-weight:bold; width:100px; font-size:18px; float:left; "> &#8362; {{BasketPrice | number}}</span>
  		</a>
	</ion-nav-buttons> 

  
  <div class="bar bar-footer" style=" height:105px; width:100%; padding:0;" >
         <div class="invitePayButtons">
                <div class="invitePayButtonsLeft" ng-click="sendRequest()">
                     <img src="img/visa.png" style="width:100%" />
                </div>
                <div class="invitePayButtonsRight" ng-click="sendRequest()">
                    <img src="img/paypal.png" style="width:100%" />
                </div>
        </div>
	</div>
  <ion-content style="background-color:#f4f4f4">
  	<div class="PackageForm" align="center">
    	<div class="PackageFormDiv">
        	<input type="text" class="PackageFormText" placeholder="כתובת לאיסוף" g-places-autocomplete force-selection="true" options="autocompleteOptions" ng-model="fields.pickup" ng-blur="pickupData()">
            
            <input type="text" class="PackageFormText" placeholder="כתובת לפיזור" g-places-autocomplete force-selection="true" options="autocompleteOptions" ng-model="fields.dest" ng-blur="destData()" >
            
            <input type="text" class="PackageFormText" placeholder="סוג משלוח" g-places-autocomplete force-selection="true" options="autocompleteOptions" ng-model="fields.deliverytype" ng-blur="destData()" >
            
            <textarea rows="4" cols="50" class="PackageFormText" placeholder="הערות" ng-model="fields.remarks"></textarea>
        
        
            <div class="inviteButtons">
                <div class="inviteButtonsLeft" ng-click="ChangeDate(1)">
                    <img src="{{InviteDateImage1}}" style="width:100%" />
                </div>
				
                <div class="inviteButtonsRight" ng-click="ChangeDate(0)">
                    <img src="{{InviteDateImage2}}" style="width:100%" />
                </div>

            </div>
			
			<input type="text" ng-if="OrderTime == 1" class="PackageFormText" ng-model="fields.deliverydate" onClick="(this.type='datetime')" onfocus="(this.type='datetime')"  placeholder="תאריך משלוח" >


			
        </div>
        <div class="invitePay">
                <div class="invitePayLeft">
                    <p>{{DeliveryPrice}} ש"ח</p>
					<p>{{BasketPrice}} ש"ח</p>
					<p>{{TotalPrice}} ש"ח</p>					
                </div>
                <div class="invitePayRight">
                    <p>משלוח</p>
					<p>סל קניות</p>
					<p>לתשלום</p>					
                </div>
        </div>
        
    </div>
    <!--
	<div class="list">
	  <label class="item item-input item-stacked-label">
		<span class="input-label">איסוף</span>
		<input type="text" g-places-autocomplete force-selection="true" options="autocompleteOptions" ng-model="fields.pickup" ng-blur="pickupData()">
	  </label>
	  <label class="item item-input item-stacked-label">
		<span class="input-label">פיזור</span>
		<input type="text" g-places-autocomplete force-selection="true" options="autocompleteOptions" ng-model="fields.dest" ng-blur="destData()" style="margin-top:20px !important">
	  </label>
	  <label class="item item-input item-stacked-label">
		<span class="input-label">סוג משלוח</span>
		<input type="text" ng-model="fields.deliverytype">
	  </label>
	  <label class="item item-input item-stacked-label">
		<span class="input-label">הערות</span>
		<textarea rows="4" cols="50" ng-model="fields.remarks"></textarea>
	  </label>	  
	</div>

  	<table class="SearchTable" align="center">
        <tr>
           <td ng-class="OrderTime == 1 ? 'TDtypeActive' : 'TDtype'" ng-click="changeOrderTime(1)">
                הזמנה מיידית
           </td>
           <td ng-class="OrderTime == 2 ? 'TDtypeActive' : 'TDtype'" ng-click="changeOrderTime(2)">
               הזמנה עתידית
           </td>
        </tr>
    </table>

		

	<div class="list"  ng-if="OrderTime == 2">
	  <label class="item item-input item-stacked-label">
		<input type="text" ng-model="fields.deliverydate" onClick="(this.type='date')" onfocus="(this.type='date')"  placeholder="תאריך משלוח" >
	  </label> 
	</div>

	
	<button class="button button-block button-positive">
	  לתשלום : &#8362; {{payAmount}} 
	</button>

	<button class="button button-block button-positive" ng-click="completeOrder()">
	  visa
	</button>

	<button class="button button-block button-positive" ng-click="completeOrder()">
	  paypal
	</button>

    <pre>{{fields.pickup | json}}</pre>

		-->	

  </ion-content>
  
  
          <script id="image-modal.html" type="text/ng-template">
					<div style="width:100%;" align="center">
						<div class="modal image-modal transparent" ng-click="closeModal()" style="width:80%; margin-top:100px;">
							<ion-scroll zooming="true"  direction="xy" locking="false" has-bouncing="true" delegate-handle="zoom-pane" class="transparent" min-zoom="1" scrollbar-x="false" scrollbar-y="false">   
								<img ng-src="{{productImage}}" style="width:100%;">
							</ion-scroll>
						</div>
					</div>
          </script>

		  
</ion-view>
