<ion-view view-title="" hide-nav-bar="true">
  <ion-content style="background-color:#f4f4f4">
    <div class="loginLogo" align="center">
    	<div>
    		<img src="img/istock.png" style="width:100%;" />
        </div>
        
        <div class="PackageFormDiv" style="width:90%">
            <input type="text" class="PackageFormText" g-places-autocomplete force-selection="true" options="autocompleteOptions" placeholder="כתובת למשלוח"  ng-model="fields.address"  >
            <input type="text" class="PackageFormText" placeholder="קוד חנות"  ng-model="fields.code"  >
        </div>
        
    </div>
	
	<div style="width:100%;" align="center">
        <div style="width:90%; margin-top:40px;">
            <button class="button button-block button-positive" style="background-color:#282828 !important" ng-click="saveDetails()">המשך</button>

            <button class="button button-block button-calm" style="background-color:#3b5998 !important" ui-sref="app.login()">חזור להתחברות</button>
    	</div>
	</div>

  </ion-content>
</ion-view>

