

<ion-view view-title="{{navTitle}}" hide-back-button="false" cache-view="false">
	
	 <ion-nav-buttons side="left" >
        <a class="item-icon-right" href="#" style="text-decoration:none; width:150px; margin:0px; margin-top:3px; padding:0px; " ui-sref="app.basket()">
        	<img src="img/basketIcon.png" style="width:30px; float:left" />
        	<span class="" style="z-index:100; position:relative; top:5px; left:5px; color:#004d6e; font-weight:bold; width:100px; font-size:18px; float:left; "> &#8362; {{BasketPrice | number}}</span>
  		</a>
	</ion-nav-buttons> 
  
	<!-- <ion-nav-buttons side="left" >
        <a class="item-icon-right" href="#" style="text-decoration:none;" ng-click="goToBasket()">
        	<span class="badge badge-assertive" style="z-index:100; position:relative; left:20px;">{{BasketPrice}} &#8362;</span>
  		</a>
  </ion-nav-buttons> -->
  
  
	<!--<div class="bar bar-footer" style="height:14%;  width:100%; padding:0;" >
    	<div class="tabs tabs-icon-only" style="margin:0px; width:100%; height:100%; padding:0; position:relative; bottom:0px;!important;" >
			<button class="button button-block button-positive" ui-sref="app.basket()">
			  לעגלת קניות
			</button>
			<button class="button button-block button-positive" ui-sref="app.orderform()">
			  לקופה
			</button>			
        </div>
	</div>
	<div class="bar bar-footer" style=" height:75px; width:100%; padding:0;" ui-sref="app.basket()">
          <img src="img/invitbutton.png" style="width:100%" />
	</div>-->
	
   <div class="bar bar-subheader" style="margin-top:-10px; border:none !important;  color:#efefef !important">
  		<div class="list list-inset" >
              <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="חיפוש מוצר" ng-model="productsearch" style="text-align:right; direction:rtl">
              </label>
    	</div>
        <div style="margin-top:-12px;">
        	<img  src="img/line1.png" style="width:100%; margin-top:-20px;" />
    	</div>
	</div>
    
	<!--
	AddBasket($index,item)
	-->
	
  <ion-content overflow-scroll="true" class="has-subheader;" style=" margin-top:95px; margin-bottom:50px;" >
	 <div  ng-repeat="item in ProductsArray  | filter:productsearch" ng-if="item.package == '0' && item.catagory == 0">
    	<div class="itemRow">
        	<!--<div class="itemCombo" style="width:13%; margin-left:20px; text-align:right !important; background-color:blue !important;">
                <div class="item item-select">
                        <select ng-model="item.quan" ng-change="updateBasket()">
                          <option ng-value="1">1</option>
                          <option ng-value="2">2</option>
                          <option ng-value="3">3</option>
                          <option ng-value="4">4</option>
                          <option ng-value="5">5</option>
                        </select>
                </div>
            </div>-->
            <div class="infoComboT1" ui-sref="app.details({Type: 'products', ItemId: item.index, CatagoryId: Category})">
            	<h3>{{item.name | stripslashes:true}}</h3>
                <p>מחיר : {{item.new_price}} ש"ח</p>
            </div>
            <div class="infoImageT1">
            	<img src="{{host}}/{{item.image}}" ng-click="ShowImageModal(item.image)" style="width:100%">
            </div>
            <!-- <div class="infoCheck">
            	<img src="img/uncheck.png" ng-if="item.isClicked == '0'" ng-click="changeCheckBox($index,item,0)" style="width:100%">
				<img src="img/checked.png" ng-if="item.isClicked == '1'" ng-click="changeCheckBox($index,item,1)" style="width:100%">
            </div>-->
            <div>
        		<img  src="img/line1.png" style="width:100%; margin-top:10px;" />
        	</div>
        </div>
	 </div>
<!--
<div class="list card" ng-repeat="item in ProductsArray | filter:productsearch" ng-if="item.package == '0'">

  <div class="item item-avatar" style="margin-bottom:-70px;">
      <img src="{{host}}/{{item.image}}" ng-click="ShowImageModal(item.image)">
	  <input type="tel" ng-model="item.quan" ng-if="item.isClicked == '1'" ng-change="AddBasket($index)">
	  
    <h2 style="text-align:right; direction:rtl;">{{item.name}}</h2>
	<p style="text-align:right; direction:rtl;" ng-if="item.manufacturer">יצרן : {{item.manufacturer}}</p>
	<p style="text-align:right; direction:rtl;">מחיר: <strike>{{item.old_price}}</strike> {{item.new_price}} &#8362;</p>
    <p style="text-align:right; direction:rtl;" ng-bind-html="item.desc | cutString_TitlePage:true:60">
	
	


<div style="float:left; top:-30px; left:-80px; position:relative; z-index:100;">
	<ion-checkbox ng-model="item.isClicked" ng-click="AddBasket($index,item)"></ion-checkbox>
	
</div>

	 
	 
	 
  </div>



</div>

-->


  </ion-content>
  
  
          <script id="image-modal.html" type="text/ng-template">
					<div style="width:100%;" align="center">
						<div class="modal image-modal transparent" ng-click="closeModal()" style="width:80%; margin-top:100px;">
							<ion-scroll zooming="true"  direction="xy" locking="false" has-bouncing="true" delegate-handle="zoom-pane" class="transparent" min-zoom="1" scrollbar-x="false" scrollbar-y="false">   
								<img ng-src="{{productImage}}" style="width:100%;">
							</ion-scroll>
						</div>
					</div>
          </script>

		  
</ion-view>
